#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  /* text-align: center; */
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.read-the-docs {
  color: #888;
}

.App-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #242424;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 8vh;
  width: 100vw;
  padding: 1rem;
}
/*create space between icons*/

.App-header menu {
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 3rem;
}

.icon-list {
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 2rem;
}

.icon-container {
  display: inline-flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}
.icon-container:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
}

.App-main {
  /* padding-top: 20vh; */
  color: white;
}

.landing {
  height: 90vh;
  text-align: center;
  padding-top: 15rem;
}

.project {
  background-color: #003707;
}

.card h2 {
  margin: 0;
  padding: 1rem;
  font-weight: 800;
}
.card p {
  margin: 0;
  padding: 1rem;
}
.contact-me {
  background-color: #5600c6;
}

.App-footer {
  height: 10vh;
  background-color: aquamarine;
}

.project-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
  width: 800px;
  margin: 0 auto;
}
.card {
  width: 350px;
  background-color: #ffffff;
  color: #000000;
  margin: 2rem auto;
  border-radius: 8px;
  padding: 0rem;
  box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
}

.card h2 {
  margin: 0;
  padding: 1rem;
  font-weight: 800;
}

.card p {
  margin: 0;
  padding: 1rem;
}

.form {
  width: 70%;
  margin: 0 auto;
  padding: 5rem;
  & div {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    &:not(:last-child) {
      margin-bottom: 1.7rem;
    }
  }

  &__label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    font-size: 1.2rem;
  }

  &__input {
    width: 100%;
    padding: 1.6rem;
    //MAKE A TRANSPARENT BACKGROUND
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 3rem;
    font-size: 1.5rem;
  }

  &__message {
    background-color: transparent;
    width: 100%;
    padding: 0.5rem;

    border: 1px solid #ccc;
    border-radius: 4px;
    height: 100px;
    font-size: 1.5rem;
    resize: vertical;
    font-family: inherit;
    height: 30vh;
  }
  &__error-message {
    color: tomato;
    font-size: 1.2rem;
    margin-top: 0.5rem;
  }

  &__submit-btn {
    background-color: #9546fb;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    text-align: center;

    &:hover {
      background-color: #7a3ed8;
      transition: background-color 0.3s ease;
    }
    &:disabled {
      background-color: #ccc;
      cursor: not-allowed;
      color: #4e4b4b;
    }
  }
}
