#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  /* text-align: center; */
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.App-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #242424;
  margin: 0;
  /* position: fixed; */
  width: 100vw;
  padding: 1rem;
}
/*create space between icons*/

.App-header menu {
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 1rem;
}

.icon-list {
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 2rem;
}

.icon-container {
  display: inline-flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}
.icon-container:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
}

.App-main {
  /* padding-top: 20vh; */
}

.landing {
  height: 80vh;

  text-align: center;
  padding-top: 5rem;
}

.project {
  height: 80vh;
  background-color: #003707;
}
.contact-me {
  height: 80vh;
  background-color: #5600c6;
}

.App-footer {
  height: 10vh;
  background-color: aquamarine;
}
